
.order-header{
    margin: auto;
    padding-left: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
table{
    margin-inline: auto;
    padding-inline: 60px;
    margin-bottom: 50px;
}
table tr td, table tr th{
    padding-block: 15px;
    padding-inline: 30px;
    border-bottom: 1px dotted black;
}
table .title{
    text-align: center;
}
table .product-quantity{
    text-align: center;
}
table .product-name{
    width: 120px;
    text-align: center;
    font-weight: bold;
}
table .product-price{
    width: 100px;
    text-align: center;
    font-weight: bold;
}
table button{
    background-color: rgb(192, 192, 192);
    color: white;
    padding: 8px;
    border-radius: 10px;
    border-width: 0.8px;
    transition: 0.2s ease-in;
}
table button a{
    text-decoration: none;
    color: white;
}
table button:hover{
    background-color: lightgreen;
    box-shadow: 1px 1px 4px black;;
    margin-bottom: 2px;
}
.wishlist tr, .wishlist td, .wishlist th{
    padding-inline: 90px;
}
