*{
    margin: 0;
    padding: 0;
}
body{
    font-family: inter;
    min-height: 100vh;
}

.nav-bar{
    background-color: rgb(240, 240, 240);
    box-shadow: 1px 1px 4px black;
    margin: auto;
    margin-bottom: 40px;
}
.menu{
    list-style: none;
    padding-inline: 30px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.drop-hover{
    max-width: 335px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category a{
    width: 100%;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}
.drop-content{
    margin: auto;
    position: absolute;
    z-index: 1;
    background-color: white;
    font-size: 0.8rem;
    list-style: none;
    top: 40px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    box-shadow: 0.5px 0.5px 4px black inset;
}
.drop-content li{
    padding-inline:30px;
    padding-block: 10px;
    transition: 0.2s;
}
.drop-content a{
    font-size: 0.9rem;
}
.drop-content li:hover{
    background-color: #b0aeae;
}
.drop-content li:hover a{
    color: white;
}
.category:hover .drop-content{
    opacity: 0.9;
    visibility: visible;
}
.search-box{
    width: 100%;
    max-width: 215px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-box input{
    border-radius: 5px;
    font-size: 0.9rem;
    padding-block: 7px;
    border-width: 0px;
    background-color: #b0aeae;
    color: black;
}
.search-box input::placeholder{
    color: black;
}

.account{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 290px;
    width: 100%;
}
.account span{
    padding-right: 20px;
}
.cart-container{
    max-width: 85px;
    width: 100%;
    background-color: #b0aeae;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}
.cart-container span{
    padding: 0;
}
#items_in_cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    border-radius: 100%;
    background-color: rgb(216, 124, 124);
    font-weight: bold;
}
.order-header{
    margin: auto;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
}
table{
    margin-inline: auto;
    padding-inline: 60px;
}