


.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 40px;

}


h1 {
    color: #333;
}

p {
    color: #666;
}



/* Now for the body part */
.container {
    width: 60%;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
}

h2 {
    font-size: 18px;
}

.section {
    margin-bottom: 15px; /* Add some space between sections */
}

.description-field {
    width: calc(100% - 80px);
    margin: 0 auto;
    height: 50px; /* Set height as needed */
    border-radius: 10px; /* Rounded borders */
    border: 1px solid #ccc; /* Border color */
    display: block; /* Ensure it behaves as a block element */
    padding: 10px; /* Add padding for better appearance */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    font-family: 'Inter', sans-serif; /* Set font-family */
    font-size: 16px; /* Set font size */
    color: #333; /* Set text color */
}

.description-field-big {
    width: calc(100% - 80px);
    margin: 0 auto;
    height: 100px; /* Set height as needed */
    border-radius: 10px; /* Rounded borders */
    border: 1px solid #ccc; /* Border color */
    display: block; /* Ensure it behaves as a block element */
    padding: 10px; /* Add padding for better appearance */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    font-family: 'Inter', sans-serif; /* Set font-family */
    font-size: 16px; /* Set font size */
    color: #333; /* Set text color */
}

.row {
    display: flex;
    justify-content: space-between; /* To evenly space out the input fields */
}

.input-group {
    flex: 1; /* To evenly distribute input fields in the row */
    margin-right: 20px; /* Adjust as needed */
    margin-bottom: 40px;
    
}

.input-group:last-child {
    margin-right: 0; /* Remove margin from the last input field */
}

.input-group label {
    display: block; /* Make label occupy full width */
    margin-bottom: 5px; /* Add some space between label and input */
}

.styled-input {
    width: calc(100% - 80px);
    margin: 0 auto;
    height: 50px; /* Set height as needed */
    border-radius: 10px; /* Rounded borders */
    border: 1px solid #ccc; /* Border color */
    display: block; /* Ensure it behaves as a block element */
    padding: 10px; /* Add padding for better appearance */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    font-family: 'Inter', sans-serif; /* Set font-family */
    font-size: 16px; /* Set font size */
    color: #333; /* Set text color */
}

.card-row {
    display: flex;
}

.card {
    margin-left: 40px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin-right: 10px; /* Adjust margin between cards */
    display: flex;
    justify-content: center;
    align-items: center;
    border: #333;
    border: 2px solid black;
    
}

.icon {
    font-size: 48px;
    color: #333;
}
.right-btn{
    text-align: right;
}
.save-button {
    width: 100px;
    height: 50px;
    background-color:#D49336;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    
}

.shop-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-info h2 {
    margin: 0; /* Remove default margin */
    font-size: 30px;
}

.yellow-button {
    background-color: #D49336; /* Yellow color */
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.other-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
}

.other-div img {
    width: 350px;
    height: 400px;
    object-fit: cover; /* To maintain aspect ratio */
    border-radius: 10px; /* Optional: Add border radius for rounded corners */
}

.other-div h1, .other-div h4 {
    margin: 10px 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.yellow-button, .blue-button, .black-button {
    background-color: #D49336; /* Yellow color */
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.yellow-button a, .shop-info a{
    text-decoration: none;
    color: black;
}

.yellow-button span, .blue-button span, .black-button span {
    margin-left: 5px; /* Adjust space between text and arrow */
}
#active{
    background-color: #916322;
    cursor: default;
}




