
.small-font{
    font-size: 0.8rem;
}


/* Body Css */
.product-container{
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    margin-inline: auto;
    padding-bottom: 20px;
    max-width: 1360px;
}
.product-image{
    width: 350px;
    height: 400px;
    margin: auto;
}
.product-container img{
    width: 100%;
    height: 100%;
}
.product-details {
    max-width: 788px;
    width: 55%;
    padding-right: 30px;
    min-height: 654px;
    height: 100%;
    align-content: center;
}
.star-rating{
    display: flex;
    padding-block: 20px;
}
.star-rating p{
    padding-right: 20px;
}
.description{
    padding-block: 20px;
    max-height: 296px;
    height: 100%;
    font-size: 1.2rem;
}
.quantity-price{
    display: flex;
    justify-content: space-around;
    padding-block: 10px;
    align-items: center;
}
.quantity-price p{
    font-size: 1.2rem;
}
.quantity{
    max-height: 28px;
}
.quantity span{
    border-style: solid;
    border-width: 1px;
    padding-inline: 10px;
    padding-block: 5px;
    font-size: 1.2rem;
}
.quantity button{
    border: 0;
    outline: none;
    background-color: white;
    color: black;
    /* padding-inline: 5px; */
    /* padding-bottom: 5px; */
    /* padding-top: 7px; */
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}
.stock-status{
    color: green;
    font-weight: bold;
}
.buy-cart-buttons button{
    width: 100%;
    margin-block: 12px;
    padding-block: 10px;
    border: 0;
    outline: none;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
.recommendation-container{

    padding-bottom: 20px;
 }
 .recommend-product{
    width: auto;
 }
.recommendation-container img{
    width: 280px;
    height: 120px;
}
.sub-section{
    display: flex;
    justify-content: center;
}
.review-container{
    display: flex;
    /* position: absolute; */
    flex-wrap: wrap;
    max-width: 1300px;
    padding-inline: 30px;
    /* margin-inline: 20px; */
    /* left: 20px; */
    margin-inline: auto;
}
.reviews{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.review-profile {
    display: flex;
    width: 1200px;
    align-items: center;
    margin-right: 20px;
    min-width: 197px;
}
.review-profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
.review-profile p{
    font-weight: bold;
}
.review-description{
    width: auto;
    max-height: 95.4px;
    overflow: auto;
}
.review-description p{
    overflow: auto;
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
    display: flex;
    max-width: 1430px;
    margin-left: 90px;
    margin-right: 30px;
    /* padding-inline: 60px; */
}
.slick-list{
    text-align: left;
}


.recommendation-container .slick-prev:before{
    content: '';
    top: -25px;
    left: -20px;
    position: absolute;
    background-image: url(../images/left-arrow2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.recommendation-container .slick-next:before{
    content: '';
    top: -25px;
    left: -20px;
    position: absolute;
    background-image: url(../images/right-arrow2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}


/*Responsive*/
@media(max-width: 1510px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-col-map{
        width: 100%;
        padding: 0px;
        margin-bottom: 25px;
    }
}
@media(max-width: 1415px){
    .product-image{
        width: 450px;
        height: 418px;
    }
}
@media(max-width: 870px){
    .product-container{
        flex-direction: column;
    }
    .product-image{
        width: 70%;
        height: 550px;
        margin: auto;
    }
    .product-details{
        width: 100%;
        padding: 0;
    }
    .description{
        overflow: auto;
    }
}
@media(max-width: 821px) {
    .Map iframe{
        width: 500px;
}
}
@media(max-width: 600px){
    .product-image{
        height: 350px;
    }
}
